In [ ]:
!unzip /content/MC2_Actual.zip

unzip:  cannot find or open /content/MC2_Actual.zip, /content/MC2_Actual.zip.zip or /content/MC2_Actual.zip.ZIP.

In [ ]:
!unzip /content/gps_with_location2.csv.zip

Archive:  /content/gps_with_location2.csv.zip
  inflating: gps_with_location2.csv
  inflating: __MACOSX/._gps_with_location2.csv

In [ ]:
import pandas as pd
import numpy as np
import shapefile as shp
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid", palette="pastel", color_codes=True)
sns.mpl.rc("figure", figsize=(10,6))

In [ ]:
loyalty = pd.read_csv('/content/MC2/MC2/loyalty_data.csv',sep=',',encoding='cp1252')
gps = pd.read_csv('/content/gps_with_location2.csv')
cc = pd.read_csv('/content/MC2/MC2/cc_data.csv', sep=",", encoding='cp1252')
ca = pd.read_csv('/content/MC2/MC2/car-assignments.csv')

In [ ]:
ca = pd.read_csv('/content/MC2/MC2/car-assignments.csv')

In [ ]:
gps.columns,loyalty.columns,cc.columns

(Index(['Unnamed: 0', 'Timestamp', 'id', 'lat', 'long', 'nearest_location',
        'distance'],
       dtype='object'),
 Index(['timestamp', 'location', 'price', 'loyaltynum'], dtype='object'),
 Index(['timestamp', 'location', 'price', 'last4ccnum'], dtype='object'))

In [ ]:
gps = gps.drop(columns=['Unnamed: 0'],axis=1)

In [ ]:
gps.columns,cc.timestamp

(Index(['Timestamp', 'id', 'lat', 'long', 'nearest_location', 'distance'], dtype='object'),
 0       01/06/2014 07:28
 1       01/06/2014 07:34
 2       01/06/2014 07:35
 3       01/06/2014 07:36
 4       01/06/2014 07:37
               ...
 1485    01/19/2014 20:16
 1486    01/19/2014 20:22
 1487    01/19/2014 20:25
 1488    01/19/2014 20:30
 1489    01/19/2014 20:51
 Name: timestamp, Length: 1490, dtype: object)

In [ ]:
loyalty.rename(columns={'timestamp': 'date'}, inplace=True)
# cc['date'] = pd.to_datetime(gps['Timestamp'], format='%m/%d/%Y %H:%M:%S')

cc['date']  =  pd.to_datetime(cc['timestamp']).dt.strftime('%m/%d/%Y')

In [ ]:
cc.columns

Index(['timestamp', 'location', 'price', 'last4ccnum', 'date'], dtype='object')

In [ ]:
cc=cc.drop_duplicates()

In [ ]:
cc.shape

(1490, 5)

In [ ]:
lc= pd.merge(loyalty,cc,on=["price","date","location"])

In [ ]:
lc

,date,location,price,loyaltynum,timestamp,last4ccnum
0,01/06/2014,Brew've Been Served,4.17,L2247,01/06/2014 07:38,5368
1,01/06/2014,Brew've Been Served,9.60,L9406,01/06/2014 07:43,4948
2,01/06/2014,Hallowed Grounds,16.53,L8328,01/06/2014 07:47,8129
3,01/06/2014,Brew've Been Served,4.27,L4034,01/06/2014 08:00,5407
4,01/06/2014,Brew've Been Served,11.20,L6110,01/06/2014 08:16,8411
...,...,...,...,...,...,...
1082,01/19/2014,Katerina’s Café,70.22,L8566,01/19/2014 13:23,4795
1083,01/19/2014,Guy's Gyros,18.08,L9254,01/19/2014 20:00,7354
1084,01/19/2014,Katerina’s Café,35.01,L9254,01/19/2014 13:00,7354
1085,01/19/2014,Desafio Golf Course,110.02,L6886,01/19/2014 15:15,2463
1086,01/19/2014,Hippokampos,63.17,L6886,01/19/2014 19:56,2463

In [ ]:
lc = lc.drop_duplicates()

In [ ]:
lc.shape

(1087, 6)

In [ ]:
lc[lc.loyaltynum=="L2247"].last4ccnum.unique()

array([5368, 7889])

In [ ]:
print(lc)

            date             location   price loyaltynum         timestamp  \
0     01/06/2014  Brew've Been Served    4.17      L2247  01/06/2014 07:38
1     01/06/2014  Brew've Been Served    9.60      L9406  01/06/2014 07:43
2     01/06/2014     Hallowed Grounds   16.53      L8328  01/06/2014 07:47
3     01/06/2014  Brew've Been Served    4.27      L4034  01/06/2014 08:00
4     01/06/2014  Brew've Been Served   11.20      L6110  01/06/2014 08:16
...          ...                  ...     ...        ...               ...
1082  01/19/2014      Katerina’s Café   70.22      L8566  01/19/2014 13:23
1083  01/19/2014          Guy's Gyros   18.08      L9254  01/19/2014 20:00
1084  01/19/2014      Katerina’s Café   35.01      L9254  01/19/2014 13:00
1085  01/19/2014  Desafio Golf Course  110.02      L6886  01/19/2014 15:15
1086  01/19/2014          Hippokampos   63.17      L6886  01/19/2014 19:56

      last4ccnum
0           5368
1           4948
2           8129
3           5407
4           8411
...          ...
1082        4795
1083        7354
1084        7354
1085        2463
1086        2463

[1087 rows x 6 columns]

In [ ]:
gps['date']  =  pd.to_datetime(gps['Timestamp']).dt.strftime('%m/%d/%Y')

In [ ]:
ca['FullName']= ca.FirstName +" "+ca.LastName

In [ ]:
ca= ca.drop(columns=['LastName', 'FirstName', 'CurrentEmploymentType',
        'CurrentEmploymentTitle' ])
gps= gps.drop(columns=[ 'lat', 'long', 'distance'])

In [ ]:
gps['timestamp']  =  pd.to_datetime(gps['Timestamp']).dt.strftime('%m/%d/%Y %H:%M')

In [ ]:
ca.columns,gps.columns

(Index(['CarID', 'FullName'], dtype='object'),
 Index(['Timestamp', 'id', 'nearest_location', 'date'], dtype='object'))

In [ ]:
cg=pd.merge(ca,gps,left_on="CarID",right_on="id",how="inner")

In [ ]:
cg.id.unique(),cg.FullName.unique()

(array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
        18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
        35]),
 array(['Nils Calixto', 'Lars Azada', 'Felix Balas', 'Ingrid Barranco',
        'Isak Baza', 'Linnea Bergen', 'Elsa Orilla', 'Lucas Alcazar',
        'Gustav Cazar', 'Ada Campo-Corrente', 'Axel Calzas',
        'Hideki Cocinaro', 'Inga Ferro', 'Lidelse Dedos', 'Loreto Bodrogi',
        'Isia Vann', 'Sven Flecha', 'Birgitta Frente', 'Vira Frente',
        'Stenig Fusil', 'Hennie Osvaldo', 'Adra Nubarron', 'Varja Lagos',
        'Minke Mies', 'Kanon Herrero', 'Marin Onda', 'Kare Orilla',
        'Isande Borrasca', 'Bertrand Ovan', 'Felix Resumir',
        'Sten Sanjorge Jr.', 'Orhan Strum', 'Brand Tempestad',
        'Edvard Vann', 'Willem Vasco-Pais'], dtype=object))

In [ ]:
data = {'ID': cg_id_unique, 'FullName': cg_fullname_unique}
df = pd.DataFrame(data)

 Every FullName has one  id

In [ ]:
for i in range(36):
 print(i,cg[cg.id==i].FullName.unique())

0 []
1 ['Nils Calixto']
2 ['Lars Azada']
3 ['Felix Balas']
4 ['Ingrid Barranco']
5 ['Isak Baza']
6 ['Linnea Bergen']
7 ['Elsa Orilla']
8 ['Lucas Alcazar']
9 ['Gustav Cazar']
10 ['Ada Campo-Corrente']
11 ['Axel Calzas']
12 ['Hideki Cocinaro']
13 ['Inga Ferro']
14 ['Lidelse Dedos']
15 ['Loreto Bodrogi']
16 ['Isia Vann']
17 ['Sven Flecha']
18 ['Birgitta Frente']
19 ['Vira Frente']
20 ['Stenig Fusil']
21 ['Hennie Osvaldo']
22 ['Adra Nubarron']
23 ['Varja Lagos']
24 ['Minke Mies']
25 ['Kanon Herrero']
26 ['Marin Onda']
27 ['Kare Orilla']
28 ['Isande Borrasca']
29 ['Bertrand Ovan']
30 ['Felix Resumir']
31 ['Sten Sanjorge Jr.']
32 ['Orhan Strum']
33 ['Brand Tempestad']
34 ['Edvard Vann']
35 ['Willem Vasco-Pais']

In [ ]:
cg[cg.id==1].FullName.unique()[0]

'Nils Calixto'

In [ ]:
unique_fullnames = []
for i in range(1,36):
 unique_fullnames.append(cg[cg.id==i].FullName.unique()[0])

data = {'ID': list(range(1,36)), 'FullName': unique_fullnames}
df = pd.DataFrame(data)

# Print the resulting DataFrame
print(df)

    ID            FullName
0    1        Nils Calixto
1    2          Lars Azada
2    3         Felix Balas
3    4     Ingrid Barranco
4    5           Isak Baza
5    6       Linnea Bergen
6    7         Elsa Orilla
7    8       Lucas Alcazar
8    9        Gustav Cazar
9   10  Ada Campo-Corrente
10  11         Axel Calzas
11  12     Hideki Cocinaro
12  13          Inga Ferro
13  14       Lidelse Dedos
14  15      Loreto Bodrogi
15  16           Isia Vann
16  17         Sven Flecha
17  18     Birgitta Frente
18  19         Vira Frente
19  20        Stenig Fusil
20  21      Hennie Osvaldo
21  22       Adra Nubarron
22  23         Varja Lagos
23  24          Minke Mies
24  25       Kanon Herrero
25  26          Marin Onda
26  27         Kare Orilla
27  28     Isande Borrasca
28  29       Bertrand Ovan
29  30       Felix Resumir
30  31   Sten Sanjorge Jr.
31  32         Orhan Strum
32  33     Brand Tempestad
33  34         Edvard Vann
34  35   Willem Vasco-Pais

In [ ]:
df.to_csv("FullName_CarID_mapping.csv")

In [ ]:
cg.Timestamp

0         01/06/2014 07:20:01
1         01/06/2014 07:20:03
2         01/06/2014 07:20:06
3         01/06/2014 07:20:07
4         01/06/2014 07:20:10
                 ...
613072    01/19/2014 20:07:11
613073    01/19/2014 20:07:13
613074    01/19/2014 20:07:15
613075    01/19/2014 20:07:16
613076    01/19/2014 20:07:17
Name: Timestamp, Length: 613077, dtype: object

In [ ]:
cg['timestamp']  =  pd.to_datetime(cg['Timestamp']).dt.strftime('%m/%d/%Y %H:%M')

In [ ]:
cg.columns,lc.columns

(Index(['CarID', 'FullName', 'Timestamp', 'id', 'nearest_location', 'date',
        'timestamp'],
       dtype='object'),
 Index(['date', 'location', 'price', 'loyaltynum', 'timestamp', 'last4ccnum'], dtype='object'))

In [ ]:
lcg= pd.merge(lc,cg,left_on=["timestamp","date","location"], right_on=["timestamp","date","nearest_location"])

In [ ]:
lcg

,date,location,price,loyaltynum,timestamp,last4ccnum,CarID,FullName,Timestamp,id,nearest_location
0,01/06/2014,Brew've Been Served,9.60,L9406,01/06/2014 07:43,4948,23.0,Varja Lagos,01/06/2014 07:43:18,23,Brew've Been Served
1,01/06/2014,Brew've Been Served,9.60,L9406,01/06/2014 07:43,4948,23.0,Varja Lagos,01/06/2014 07:43:20,23,Brew've Been Served
2,01/06/2014,Brew've Been Served,9.60,L9406,01/06/2014 07:43,4948,23.0,Varja Lagos,01/06/2014 07:43:23,23,Brew've Been Served
3,01/06/2014,Brew've Been Served,9.60,L9406,01/06/2014 07:43,4948,23.0,Varja Lagos,01/06/2014 07:43:25,23,Brew've Been Served
4,01/06/2014,Brew've Been Served,9.60,L9406,01/06/2014 07:43,4948,23.0,Varja Lagos,01/06/2014 07:43:27,23,Brew've Been Served
...,...,...,...,...,...,...,...,...,...,...,...
3740,01/18/2014,Ouzeri Elian,33.57,L3366,01/18/2014 13:18,6895,34.0,Edvard Vann,01/18/2014 13:18:54,34,Ouzeri Elian
3741,01/18/2014,Ouzeri Elian,33.57,L3366,01/18/2014 13:18,6895,34.0,Edvard Vann,01/18/2014 13:18:56,34,Ouzeri Elian
3742,01/18/2014,Ouzeri Elian,33.57,L3366,01/18/2014 13:18,6895,34.0,Edvard Vann,01/18/2014 13:18:57,34,Ouzeri Elian
3743,01/18/2014,Ouzeri Elian,33.57,L3366,01/18/2014 13:18,6895,34.0,Edvard Vann,01/18/2014 13:18:58,34,Ouzeri Elian
3744,01/18/2014,Ouzeri Elian,33.57,L3366,01/18/2014 13:18,6895,34.0,Edvard Vann,01/18/2014 13:18:59,34,Ouzeri Elian

In [ ]:
len()

In [ ]:
cg.CarID.unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
       27., 28., 29., 30., 31., 32., 33., 34., 35.])

In [ ]:
import pandas as pd

# Assuming you have a DataFrame named 'data' with columns: date, location, price, loyaltynum, timestamp, last4ccnum, CarID, FullName, Timestamp, id, nearest_location
data=lcg
# Create a new DataFrame with unique CarID, FullName, loyaltynum, and last4ccnum combinations
unique_combinations = data.groupby(['FullName', 'loyaltynum']).size().reset_index(name='count')
unique_combinations = unique_combinations[['FullName', 'loyaltynum']]

# Print the DataFrame with unique combinations
print(unique_combinations)

               FullName loyaltynum
0    Ada Campo-Corrente      L3288
1    Ada Campo-Corrente      L3800
2    Ada Campo-Corrente      L4149
3    Ada Campo-Corrente      L5224
4    Ada Campo-Corrente      L6267
..                  ...        ...
140         Vira Frente      L6110
141         Vira Frente      L6886
142         Vira Frente      L8328
143   Willem Vasco-Pais      L3259
144   Willem Vasco-Pais      L6110

[145 rows x 2 columns]

In [ ]:
import pandas as pd

# Assuming you have a DataFrame named 'data' with columns: date, location, price, loyaltynum, timestamp, last4ccnum, CarID, FullName, Timestamp, id, nearest_location

# Find the most common last4ccnum for each FullName using majority voting
majority_last4ccnum = data.groupby('FullName')['last4ccnum'].apply(lambda x: x.mode().iloc[0]).reset_index(name='majority_last4ccnum')

# Assign unique numbers to each unique majority_last4ccnum
unique_last4ccnum = {}
counter = 1
for index, row in majority_last4ccnum.iterrows():
    full_name = row['FullName']
    majority_num = row['majority_last4ccnum']
    if majority_num not in unique_last4ccnum.values():
        unique_last4ccnum[full_name] = majority_num
    else:
        while majority_num in unique_last4ccnum.values():
            majority_num += counter
        unique_last4ccnum[full_name] = majority_num

# Create a DataFrame from the unique_last4ccnum dictionary
unique_last4ccnum_df = pd.DataFrame(list(unique_last4ccnum.items()), columns=['FullName', 'Unique_last4ccnum'])

# Print the resulting DataFrame
print(unique_last4ccnum_df)

              FullName  Unique_last4ccnum
0   Ada Campo-Corrente               9241
1        Adra Nubarron               9683
2        Bertrand Ovan               8156
3      Birgitta Frente               6816
4      Brand Tempestad               7253
5          Edvard Vann               3853
6          Elsa Orilla               9684
7          Felix Balas               1310
8        Felix Resumir               2142
9       Hennie Osvaldo               1877
10     Hideki Cocinaro               7117
11          Inga Ferro               4795
12     Ingrid Barranco               1415
13           Isak Baza               2463
14           Isia Vann               3484
15       Kanon Herrero               2418
16         Kare Orilla               7889
17          Lars Azada               2143
18       Lidelse Dedos               8202
19       Linnea Bergen               3854
20      Loreto Bodrogi               9551
21       Lucas Alcazar               9405
22          Marin Onda               8157
23          Minke Mies               4948
24        Nils Calixto               3492
25   Sten Sanjorge Jr.               6691
26        Stenig Fusil               2144
27         Sven Flecha               2145
28         Varja Lagos               2419
29         Vira Frente               8129
30   Willem Vasco-Pais               9406

In [ ]:
import pandas as pd
from collections import defaultdict
data =lcg
# Assuming you have a DataFrame named 'data' with columns: date, location, price, loyaltynum, timestamp, last4ccnum, CarID, FullName, Timestamp, id, nearest_location

# Group data by loyalty number and find the most common person using majority voting
loyalty_num_assignments = data.groupby('loyaltynum')['FullName'].apply(lambda x: x.mode().iloc[0]).reset_index(name='AssignedFullName')

# Ensure no two loyalty numbers are assigned to the same person
assigned_people = set()
assigned_loyalty_nums = {}

for index, row in loyalty_num_assignments.iterrows():
    loyaltynum = row['loyaltynum']
    person = row['AssignedFullName']

    # If the person is already assigned, find an alternative person
    while person in assigned_people:
        alternatives = data[data['loyaltynum'] == loyaltynum]['FullName'].unique()
        for alt_person in alternatives:
            if alt_person not in assigned_people:
                person = alt_person
                break

    # Assign the loyalty number to the person
    assigned_loyalty_nums[loyaltynum] = person
    assigned_people.add(person)

# Create a new column 'AssignedFullName' based on assigned loyalty numbers
data['AssignedFullName'] = data['loyaltynum'].map(assigned_loyalty_nums)

# Print the resulting DataFrame with assigned loyalty numbers
print(data[['loyaltynum', 'AssignedFullName']])

KeyboardInterrupt: ignored

In [ ]:
card_counts = df.groupby(['FullName', 'last4ccnum']).size().reset_index(name='Count')
card_counts

In [ ]:
import pandas as pd
from collections import defaultdict

# Assuming you have a DataFrame named 'data' with columns: date, location, price, loyaltynum, timestamp, last4ccnum, CarID, FullName, Timestamp, id, nearest_location
data =lcg
# Group data by loyaltynum and find the most common FullName using majority voting
loyalty_num_assignments = data.groupby('loyaltynum')['FullName'].apply(lambda x: x.mode().iloc[0]).reset_index(name='AssignedFullName')

# Create a dictionary to store assigned loyaltynum and FullName pairs
assigned_loyalty_nums = defaultdict(str)
assigned_full_names = defaultdict(str)

# Assign loyaltynum to Full Names using majority vote
for index, row in loyalty_num_assignments.iterrows():
    loyaltynum = row['loyaltynum']
    full_name = row['AssignedFullName']

    # Check if the loyaltynum or FullName is already assigned
    if loyaltynum not in assigned_loyalty_nums.values() and full_name not in assigned_full_names.values():
        assigned_loyalty_nums[full_name] = loyaltynum
        assigned_full_names[loyaltynum] = full_name

# Create new columns 'AssignedLoyaltyNum' and 'AssignedFullName' based on assigned values
data['AssignedLoyaltyNum'] = data['FullName'].map(assigned_loyalty_nums)
data['AssignedFullName'] = data['loyaltynum'].map(assigned_full_names)

# Print the resulting DataFrame with assigned loyaltynum and FullName
print(data[['loyaltynum', 'FullName', 'AssignedLoyaltyNum', 'AssignedFullName']])

     loyaltynum     FullName AssignedLoyaltyNum AssignedFullName
0         L9406  Varja Lagos              L7291
1         L9406  Varja Lagos              L7291
2         L9406  Varja Lagos              L7291
3         L9406  Varja Lagos              L7291
4         L9406  Varja Lagos              L7291
...         ...          ...                ...              ...
3740      L3366  Edvard Vann              L1485  Ingrid Barranco
3741      L3366  Edvard Vann              L1485  Ingrid Barranco
3742      L3366  Edvard Vann              L1485  Ingrid Barranco
3743      L3366  Edvard Vann              L1485  Ingrid Barranco
3744      L3366  Edvard Vann              L1485  Ingrid Barranco

[3745 rows x 4 columns]

In [ ]:
import pandas as pd
from collections import defaultdict

# Assuming you have a DataFrame named 'data' with columns: date, location, price, loyaltynum, timestamp, last4ccnum, CarID, FullName, Timestamp, id, nearest_location

# Drop rows where either loyaltynum or FullName is NaN
data = data.dropna(subset=['loyaltynum', 'FullName'])

# Group data by loyaltynum and find the most common FullName using majority voting
loyalty_num_assignments = data.groupby('loyaltynum')['FullName'].apply(lambda x: x.mode().iloc[0] if not x.mode().empty else None).reset_index(name='AssignedFullName')

# Create dictionaries to store assigned loyaltynum and FullName pairs
assigned_loyalty_nums = {}
assigned_full_names = {}

# Assign loyaltynum to Full Names using majority vote
for index, row in loyalty_num_assignments.iterrows():
    loyaltynum = row['loyaltynum']
    full_name = row['AssignedFullName']

    # Check if the loyaltynum or full_name is already assigned and not None
    if loyaltynum and full_name:
        assigned_loyalty_nums[loyaltynum] = full_name
        assigned_full_names[full_name] = loyaltynum

# Create new columns 'AssignedLoyaltyNum' and 'AssignedFullName' based on assigned values
data['AssignedLoyaltyNum'] = data['loyaltynum'].map(assigned_full_names)
data['AssignedFullName'] = data['FullName'].map(assigned_loyalty_nums)

# Print the resulting DataFrame with assigned loyaltynum and FullName
print(data[['loyaltynum', 'FullName', 'AssignedLoyaltyNum', 'AssignedFullName']])

     loyaltynum     FullName AssignedLoyaltyNum AssignedFullName
0         L9406  Varja Lagos                NaN              NaN
1         L9406  Varja Lagos                NaN              NaN
2         L9406  Varja Lagos                NaN              NaN
3         L9406  Varja Lagos                NaN              NaN
4         L9406  Varja Lagos                NaN              NaN
...         ...          ...                ...              ...
3740      L3366  Edvard Vann                NaN              NaN
3741      L3366  Edvard Vann                NaN              NaN
3742      L3366  Edvard Vann                NaN              NaN
3743      L3366  Edvard Vann                NaN              NaN
3744      L3366  Edvard Vann                NaN              NaN

[3745 rows x 4 columns]

In [ ]:
len(lcg.FullName.unique())

31

In [ ]:
data[data.AssignedFullName=="Edvard Vann"].loyaltynum.unique()

array(['L1485'], dtype=object)

In [ ]:
data.AssignedFullName.unique()

array(['', 'Varja Lagos', 'Hideki Cocinaro', 'Vira Frente',
       'Adra Nubarron', 'Marin Onda', 'Kare Orilla', 'Isia Vann',
       'Inga Ferro', 'Brand Tempestad', 'Nils Calixto',
       'Willem Vasco-Pais', 'Ada Campo-Corrente', 'Bertrand Ovan',
       'Lidelse Dedos', 'Loreto Bodrogi', 'Kanon Herrero', 'Edvard Vann',
       'Hennie Osvaldo', 'Ingrid Barranco', 'Felix Balas',
       'Lucas Alcazar', 'Sten Sanjorge Jr.', 'Sven Flecha'], dtype=object)

In [ ]:
data[data.AssignedFullName=='Varja Lagos'].loyaltynum.unique()[0]

'L7291'

In [ ]:
unique_loyaltynum = []
for i in data.AssignedFullName.unique():
 unique_loyaltynum.append(data[data.AssignedFullName==i].loyaltynum.unique()[0])
print(unique_loyaltynum)
# data = {'ID': list(data.AssignedFullName.unique())), 'FullName': unique_fullnames}
# df = pd.DataFrame(data)

# # Print the resulting DataFrame
# print(df)

['L9406', 'L7291', 'L6417', 'L8328', 'L4034', 'L1107', 'L5553', 'L2490', 'L8566', 'L1682', 'L6544', 'L3259', 'L3288', 'L5224', 'L2169', 'L3295', 'L8148', 'L1485', 'L3014', 'L3366', 'L8012', 'L4149', 'L3191', 'L4424']

In [ ]:
len(data.AssignedFullName.unique())

24

In [ ]:
dt = {'loyalty': data.AssignedFullName.unique(), 'FullName':unique_loyaltynum}
df = pd.DataFrame(dt)

# Print the resulting DataFrame
print(df)

               loyalty FullName
0                         L9406
1          Varja Lagos    L7291
2      Hideki Cocinaro    L6417
3          Vira Frente    L8328
4        Adra Nubarron    L4034
5           Marin Onda    L1107
6          Kare Orilla    L5553
7            Isia Vann    L2490
8           Inga Ferro    L8566
9      Brand Tempestad    L1682
10        Nils Calixto    L6544
11   Willem Vasco-Pais    L3259
12  Ada Campo-Corrente    L3288
13       Bertrand Ovan    L5224
14       Lidelse Dedos    L2169
15      Loreto Bodrogi    L3295
16       Kanon Herrero    L8148
17         Edvard Vann    L1485
18      Hennie Osvaldo    L3014
19     Ingrid Barranco    L3366
20         Felix Balas    L8012
21       Lucas Alcazar    L4149
22   Sten Sanjorge Jr.    L3191
23         Sven Flecha    L4424

In [ ]:
data = {'loyaltynum':[], 'FullName': unique_loyaltynum}
data={}
for i in data.AssignedFullName.unique():
  data['loyaltynum'].append(i)

AttributeError: ignored

In [ ]:
majority_loyaltynum

              FullName majority_loyaltynum
0   Ada Campo-Corrente               L3288
1        Adra Nubarron               L7291
2        Bertrand Ovan               L5224
3      Birgitta Frente               L8148
4      Brand Tempestad               L1682
5          Edvard Vann               L1485
6          Elsa Orilla               L7291
7          Felix Balas               L8012
8        Felix Resumir               L9637
9       Hennie Osvaldo               L3014
10     Hideki Cocinaro               L6417
11          Inga Ferro               L8566
12     Ingrid Barranco               L7783
13           Isak Baza               L6886
14           Isia Vann               L2490
15       Kanon Herrero               L9018
16         Kare Orilla               L6119
17          Lars Azada               L9637
18       Lidelse Dedos               L2343
19       Linnea Bergen               L1485
20      Loreto Bodrogi               L5777
21       Lucas Alcazar               L3259
22          Marin Onda               L5224
23          Minke Mies               L7291
24        Nils Calixto               L7814
25   Sten Sanjorge Jr.               L6267
26        Stenig Fusil               L9637
27         Sven Flecha               L9637
28         Varja Lagos               L9018
29         Vira Frente               L8328
30   Willem Vasco-Pais               L3259

In [ ]:
unique_last4ccnum_df.to_csv('fullName_last4cnum.csv')

In [ ]:
lcg[lcg.loyaltynum=="L9406"].last4ccnum.unique()

array([4948])

In [ ]:
unique_assoc = lcg.groupby('id').apply(lambda x: x['last4ccnum'].nunique() == 1 and x['loyaltynum'].nunique() == 1)

# Check if all groups have the same last4ccnum and loyaltynum
all_same_assoc = unique_assoc.all()

In [ ]:
all_same_assoc

False

In [ ]:
# Find the most common last4ccnum and loyaltynum for each id
most_common_values = lcg.groupby('id').agg({
    'last4ccnum': lambda x: x.mode().iloc[0],
    'loyaltynum': lambda x: x.mode().iloc[0]
}).reset_index()

# Ensure that the most common values are unique and not associated with any other id
for index, row in most_common_values.iterrows():
    if ((lcg['last4ccnum'] == row['last4ccnum']) | (lcg['loyaltynum'] == row['loyaltynum'])).any():
        # If the values are associated with other ids, find the next most common values
        other_ids = lcg[(lcg['last4ccnum'] == row['last4ccnum']) | (lcg['loyaltynum'] == row['loyaltynum'])]['id'].unique()
        filtered_df = lcg[~lcg['id'].isin(other_ids)]
        most_common_values.at[index, 'last4ccnum'] = filtered_df['last4ccnum'].mode().iloc[0]
        most_common_values.at[index, 'loyaltynum'] = filtered_df['loyaltynum'].mode().iloc[0]





# Output the result
print(most_common_last4ccnum_loyaltynum)

     id  last4ccnum loyaltynum
0     1        3492      L7814
1     2        2142      L9637
2     3        1310      L8012
3     4        1415      L7783
4     5        2463      L6886
5     6        3853      L1485
6     7        9683      L7291
7     8        9405      L3259
8    10        9241      L3288
9    12        7117      L6417
10   13        4795      L8566
11   14        8202      L2343
12   15        9551      L5777
13   16        3484      L2490
14   17        2142      L9637
15   18        6816      L8148
16   19        8129      L8328
17   20        2142      L9637
18   21        1877      L3014
19   22        9683      L7291
20   23        2418      L9018
21   24        4948      L7291
22   25        2418      L9018
23   26        8156      L5224
24   27        7889      L6119
25   29        8156      L5224
26   30        2142      L9637
27   31        6691      L6267
28   33        7253      L1682
29   34        3853      L1485
30   35        9405      L3259
31  101        9220      L4063
32  104        5368      L2247
33  105        7792      L5756
34  107        8411      L6110

In [ ]:
print(most_common_values)

     id  last4ccnum loyaltynum
0     1        2142      L9637
1     2        9405      L3259
2     3        9405      L3259
3     4        9405      L3259
4     5        9405      L3259
5     6        9405      L3259
6     7        9405      L3259
7     8        2142      L9637
8    10        9405      L3259
9    12        9405      L3259
10   13        9405      L3259
11   14        9405      L3259
12   15        2142      L9637
13   16        9405      L3259
14   17        9405      L3259
15   18        9405      L3259
16   19        2142      L9018
17   20        9405      L3259
18   21        9405      L3259
19   22        9405      L3259
20   23        9405      L3259
21   24        9405      L3259
22   25        9405      L3259
23   26        2142      L9637
24   27        9405      L3259
25   29        2142      L9637
26   30        9405      L3259
27   31        2142      L9637
28   33        9405      L3259
29   34        9405      L3259
30   35        2142      L9637
31  101        9405      L3259
32  104        9405      L3259
33  105        9405      L3259
34  107        2142      L9637

In [ ]:
gps.id.unique()

array([ 35,   4,  19,  10,   7,  11,  32,  34,  17,  12,  18,  20,  16,
         6,   3,  26,   1,  29,  21,  14,  33,  13,   2,  27,   8, 101,
        24,  23,  25,  30,  15,  28,   5,  22,   9, 107, 104, 105, 106,
        31])

     id  last4ccnum loyaltynum
0     1        3492      L7814
1     2        2142      L9637
2     3        1310      L8012
3     4        1415      L7783
4     5        2463      L6886
5     6        3853      L1485
6     7        9683      L7291
7     8        9405      L3259
8    10        9241      L3288
9    12        7117      L6417
10   13        4795      L8566
11   14        8202      L2343
12   15        9551      L5777
13   16        3484      L2490
14   17        2142      L9637
15   18        6816      L8148
16   19        8129      L8328
17   20        2142      L9637
18   21        1877      L3014
19   22        9683      L7291
20   23        2418      L9018
21   24        4948      L7291
22   25        2418      L9018
23   26        8156      L5224
24   27        7889      L6119
25   29        8156      L5224
26   30        2142      L9637
27   31        6691      L6267
28   33        7253      L1682
29   34        3853      L1485
30   35        9405      L3259
31  101        9220      L4063
32  104        5368      L2247
33  105        7792      L5756
34  107        8411      L6110

In [ ]:
ca = pd.read_csv('/content/MC2/MC2/car-assignments.csv')

In [ ]:
ca

,LastName,FirstName,CarID,CurrentEmploymentType,CurrentEmploymentTitle
0,Calixto,Nils,1.0,Information Technology,IT Helpdesk
1,Azada,Lars,2.0,Engineering,Engineer
2,Balas,Felix,3.0,Engineering,Engineer
3,Barranco,Ingrid,4.0,Executive,SVP/CFO
4,Baza,Isak,5.0,Information Technology,IT Technician
5,Bergen,Linnea,6.0,Information Technology,IT Group Manager
6,Orilla,Elsa,7.0,Engineering,Drill Technician
7,Alcazar,Lucas,8.0,Information Technology,IT Technician
8,Cazar,Gustav,9.0,Engineering,Drill Technician
9,Campo-Corrente,Ada,10.0,Executive,SVP/CIO
10,Calzas,Axel,11.0,Engineering,Hydraulic Technician
11,Cocinaro,Hideki,12.0,Security,Site Control
12,Ferro,Inga,13.0,Security,Site Control
13,Dedos,Lidelse,14.0,Engineering,Engineering Group Manager
14,Bodrogi,Loreto,15.0,Security,Site Control
15,Vann,Isia,16.0,Security,Perimeter Control
16,Flecha,Sven,17.0,Information Technology,IT Technician
17,Frente,Birgitta,18.0,Engineering,Geologist
18,Frente,Vira,19.0,Engineering,Hydraulic Technician
19,Fusil,Stenig,20.0,Security,Building Control
20,Osvaldo,Hennie,21.0,Security,Perimeter Control
21,Nubarron,Adra,22.0,Security,Badging Office
22,Lagos,Varja,23.0,Security,Badging Office
23,Mies,Minke,24.0,Security,Perimeter Control
24,Herrero,Kanon,25.0,Engineering,Geologist
25,Onda,Marin,26.0,Engineering,Drill Site Manager
26,Orilla,Kare,27.0,Engineering,Drill Technician
27,Borrasca,Isande,28.0,Engineering,Drill Technician
28,Ovan,Bertrand,29.0,Facilities,Facilities Group Manager
29,Resumir,Felix,30.0,Security,Security Group Manager
30,Sanjorge Jr.,Sten,31.0,Executive,President/CEO
31,Strum,Orhan,32.0,Executive,SVP/COO
32,Tempestad,Brand,33.0,Engineering,Drill Technician
33,Vann,Edvard,34.0,Security,Perimeter Control
34,Vasco-Pais,Willem,35.0,Executive,Environmental Safety Advisor
35,Hafon,Albina,NaN,Facilities,Truck Driver
36,Hawelon,Benito,NaN,Facilities,Truck Driver
37,Hawelon,Claudio,NaN,Facilities,Truck Driver
38,Mies,Henk,NaN,Facilities,Truck Driver
39,Morlun,Valeria,NaN,Facilities,Truck Driver
40,Morlun,Adan,NaN,Facilities,Truck Driver
41,Morluniau,Cecilia,NaN,Facilities,Truck Driver
42,Nant,Irene,NaN,Facilities,Truck Driver
43,Scozzese,Dylan,NaN,Facilities,Truck Driver